<%= form_with model: @nav_item, local: true do |form| %>
  <% if @nav_item.errors.any? %>
    <div class="form-errors">
      <h2><%= pluralize(@nav_item.errors.count, "error") %> stopped this item from saving:</h2>

      <ul>
        <% @nav_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "Menu Text" %><br>
    <%= form.text_field :title %>
  </div>

  <br>

  <div>
    <%= form.label :url, "Link URL" %><br>
    <%= form.text_field :url, placeholder: "/events or https://example.com" %>
  </div>

  <br>

  <div>
    <%= form.label :parent_id, "Parent Menu" %><br>
    <%= form.collection_select :parent_id,
          NavItem.top_level.ordered,
          :id,
          :title,
          { include_blank: "Top-level menu item" } %>
  </div>

  <br>

  <div>
    <%= form.label :position %><br>
    <%= form.number_field :position %>
  </div>

  <br>

  <div>
    <%= form.label :visible %>
    <%= form.check_box :visible %>
  </div>

  <br>

  <%= form.submit class: "admin-button" %>
<% end %>