<%= form_with model: nav_item do |form| %>
  <div class="nav-row nav-inline-row">
    <div class="nav-info nav-inline-title">
      <%= form.text_field :title, class: "nav-title-input" %>

      <div class="nav-inline-visible">
        <%= form.check_box :visible %>
        <%= form.label :visible, "Visible" %>
      </div>
    </div>

    <div class="nav-actions">
      <%= form.submit "Save", class: "primary-button" %>

      <%= link_to "Cancel",
          nav_items_path,
          class: "secondary-button",
          data: { turbo_frame: "_top" } %>
    </div>
  </div>
<% end %>