<div class="dashboard-container">
  <div class="user-dashboard-card">
    <h1>Edit Site Navigation</h1>

    <p class="dashboard-intro">
      Add, hide, rename, reorder, or delete navigation items.
    </p>

    <div class="nav-toolbar">
      <%= link_to "Add Top Level Menu",
          new_nav_item_path,
          class: "primary-button" %>

      <%= link_to "Add Sub Menu",
          new_nav_item_path(parent: true),
          class: "primary-button" %>
    </div>

    <%= render "nav_tree", nav_items: @nav_items, moved_item_id: nil %>

    <div class="nav-toolbar">
      <%= link_to "Save Changes",
          nav_items_path,
          class: "primary-button" %>

      <%= link_to "Back to Dashboard",
          dashboard_path,
          class: "secondary-button" %>
    </div>
  </div>
</div>