<h1>Events</h1>

<p>
  <%= link_to "Create Event", new_event_path %>
</p>

<% if @events.any? %>
  <table border="1">
    <thead>
      <tr>
        <th>Event</th>
        <th>Start</th>
        <th>End</th>
        <th>Meeting Point</th>
        <th>Location</th>
        <th>Capacity</th>
        <th>Registrations</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td>
            <%= link_to event.title, event_path(event) %>
          </td>

          <td>
            <%= event.start_datetime&.strftime("%d %b %Y, %I:%M %p") %>
          </td>

          <td>
            <%= event.end_datetime&.strftime("%d %b %Y, %I:%M %p") %>
          </td>

          <td>
            <%= event.meeting_point.presence || "TBC" %>
          </td>

          <td>
            <%= event.location.presence || "TBC" %>
          </td>

          <td>
            <%= event.capacity.presence || "No limit" %>
          </td>

          <td>
            <%= event.event_registrations.count %>
          </td>

          <td>
            <% if session[:user_id] %>
              <%= link_to "View / Register", event_path(event) %>
            <% else %>
              <%= link_to "Login to register", login_path %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No events have been created yet.</p>
<% end %>